/*tags*/
body {
    font-family: 'Open Sans', sans-serif;
    width: 940px;
    /* center */
    margin: 0 auto;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

nav,footer {
	clear: both;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #545454;
    margin: 30px 0 30px 0;
    padding: 20px 0 0 0;
    
}
h2 {
    font-size: 26px;
    
}

h3 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
    
}
p {
   font-size: 14px;
    line-height: 18px;
    color:#333333;
    
}

.northwest-desktop {
    padding: 0 0 10px 0;
}

a {
    color:#00A8d0;
    font-size: 14px;
    text-decoration: none;
}
.clear {
    clear: both;
}

nav {
    width: 642px;
    margin: 0 auto;  
    margin-bottom: 30px;
    height: 45px;
}

nav li {
    float:left;
    width: 170px;
    
}

nav li a {
    display: block;
    text-align: center;
    text-decoration:none;
    color: #727373;
    font-size: 18px;
    padding: 14px 16px;
/*
    border:#727373 1px solid;
    border-radius: 8px;
*/
    margin-right: 40px;
    background-color: #00A8D0;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

nav li a:hover {
    background-color: #727373;
}

.add-button {
    position:absolute;
    top: 0px;  
    right: 0px;
}

.add-button:hover {
    background-color: #858786;
}

.event {
    height: 370px;
    position: relative;
}

.add-button {
    padding: 5px 6px;
    float: right;
    background-color: #F1592B;
}
.event-date{
    padding: 9px 9px;
    background-color: #F1592B;
    float: left;
    min-width: 102px;
}

.add-button p {
    text-align: left;
    font-size: 10px;
    line-height: 12px;
}

.add-button img {
    margin: 0 0 2px 8px;
    width: 33px;
}

.add-button p, .event-date p {
    color: #fff;
}

.event-date p {
    font-size: 16px;  
    letter-spacing: 1.1px;
    text-align: left;
    line-height: 21px;
}
.event-info{
    clear: both;
    padding: 10px;  
}
.event-img{
    width:100%;
}

.event-info p {
    line-height: 22px;   
}
.footer-nav {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;  
}

.footer-nav li{
    float:left;
    width: 150px;
    
    
}

.footer-nav li a{
    display: block;
    text-align: center;
    text-decoration:none;
    font-size: 18px;
    
    
}

.footer-nav li a:hover {
    color: #727373; 
}


footer {
    background-color: #cccccc;
    padding:20px;
    margin-top: 75px;
    
}

.directories a {
    color: #fff;
}


.footer-links {
    float: right;
}

.social-icon {
    float: right;
    margin-top: 10px;
}
.last-item {
    margin: 0;
    width: 100px;
}

.card {
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.culture-text {
    padding: 10px 15px 0 15px;
}


.culture-text p {
    line-height: 21px;
}

.read-more {
    padding-left: 4px;
}



.directories {
    height: 420px;
}

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 45px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #F1592B;
    border: none;
    color: #fff;
    float: right;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}



.logo-footer {
    height: 120px;
    width: 140px;
    float: left;
}

/*structural divs*/
.row {
	min-width: 768px;
	max-width: 940px;
	clear: both;
}

.whole {
	width: 100%;
}

.third, .third_last {
	float: left;
	width: 31%;
}

.third {
	margin-right: 3.5%;
}

.third_last {
	margin-right: 0;
}

.tablet-only {
	display: none;
}




/* logos */
.hide-text {
	text-indent: 100%; 
	white-space: nowrap; 
	overflow: hidden;
}

.logo-reg, .logo-small {
	background-image: url("../img/logos/desktop.svg");
	background-repeat: no-repeat;
}

.logo-reg {
    height: 210px;
    margin-top: 0;
}

.logo-small {
	height: 85px;
    margin-top: 0;
}

/* icons */
.social-icon {
    width: 30px;
}

/*images*/
.culture-img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.top-bar {
    background-color: #cccccc;
    height: 30px;
    
}
.top-bar a{
    color: #333333;
    font-size: 14px;
    
}
.top-links {
    float:right;
    padding: 4px 10px 0 0;
}
.first-link {
    padding-right: 30px;
}

.event-search {
	width: 751px;
	margin: 0 auto;
}

.event-search-box, .event-search-button {
	height: 45px;
}

.event-search-box {
	width: 610px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

input {
    font-size: 18px;
    color: #333333;
    padding: 0 10px;
}

.event-search-button {
	padding: 0;
	width: 110px;
}

.northwest-mobile {
    display: none;
}

.logo, .taglines {
    float: left;
}

.head-links {
    text-align: right;
    margin-top: 15px;
}

.head-links a {
    margin-left: 15px;
    font-size: 14px;
}

.social {
    float: right;
    margin-top: 10px;
}

.social a img {
    margin-left: 4px;
}

.directory-img {
    width: 270px;
}

.museums, .galleries, .artists {
    height: 270px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    max-width: 100%;
    max-height: 100%;
}

.museums {
     background-color: rgba(115, 115, 115, 1);
}

.galleries {
    background-color: rgba(0, 160, 199, 1);
}

.artists {
    background-color: rgba(241, 89, 43, 1);
}

.directory-heading {
    margin: 125px 0 0 0;
    text-align: center;
    height: 100px;

}

    .logo {
        width: 210px;   
        height: 220px;
    }

.taglines {
    margin: 99px 0 0 50px;
    font-weigt: 300;
    font-style: italic;
    width: 500px;
    
}

.taglines p {
    font-size: 16px;
    line-height: 24px;
    color: #727373;
}

@media screen and (max-width:960px) {
	body, .event-search {
		width: 100%;
	}

    body {
        margin: 0 30px;
    }

	.event-search-box {
		width: 75%;
	}

	.center_on_mobile {
	 	text-align:center;
	}

	.third, .third_last, .tablet-only {
		width: 44.5%
	}

	.event-img, .directory-img {
		width: 100%;
	}

	.tablet-only {
		display: inline;
		float: left;
	}

	.third_tablet {
		margin-right: 3.5%;
	}
    
    .logo-reg {
        height: 210px;
    }
    
    .logo-small {
        height: 65px;
    }
    
    .logo-reg, .logo-small {
        background-image: url("../img/logos/tablet.svg");
    }

    .event {
        height: 50%;
    }

    .add-button {
        width: 85px;
    }

    .event-info {
        top: -100px;
    }

    .add-button img {
        width: 70px;
    }

    .add-button p {
        text-align: center;
    }

    

    .northwest-desktop, .culture-text {
        margin-right: 20px;
        position: relative;
    }

    .northwest-desktop {
        width: 93%;
    }

    .galleries, .museums, .artists {
        height: 85%;
    }

    .top-bar {
        width: 100%;
        
    }

    .directory-heading h2{
        margin-top: 41%;
    }

    footer {
        width: 89%;
    }

    .event-search-box, .event-search-button {
        float: left;
    }

    .event-search-box {
        margin-left: 100px;
        width: 510px;
    }

    .event-search {
        margin-bottom: 25px;
    }


@media screen and (max-width:480px) {	
	.event-search-box {
		width: 68%;
	}

    .add-button {
        left: 287px;
    }

    .card {
        width: 50%;
    }

	.whole, .third, .third_last, .artists {
		width: 100%;
		float: none;
	}

    .event, .galleries, .museums, .artists {
        width: 50%;
        margin-right: 20px;
    }

    .directory-heading, .directory-heading h2 {
        margin-top: 0;
    }

    footer {
        width: 78%;
    }

	.tablet-only {
		display: none;
	}
    
    .logo-reg, .logo-small {
        height: 70px;
    }
    
    .logo-reg, .logo-small {
        background-image: url("../img/logos/phone.svg");
    }
    
    .northwest-desktop {
        display: none;
    }
    
    .northwest-mobile {
        display: inline;
    }
}